body {

    margin: 0;
    padding: 0;
    min-width: 100vh;
    background-color: #F1F6F9;

}


p {

    text-align: justify;

}

h1 {

    text-align: center;

}

h5 {

    text-align: center;
    border-radius: 25px 0px 25px 0px;
    color: #ffff;

}

.navbar {

    background-color: #23376D;

}

.navbar :hover {

    color: orange;

}

.nav-link {

    color: white;

}

.container_footer {

    margin: 0;

}

footer {
    background-color: #23376D;
    color: #fff;
}

.container1 {

    background-color: #3956a5;
    min-width: 100vh;
    border-radius: 0px -20px -20px 0px;

}

label {

    font-size: 20px;
    color: #23376D;

}

.container-111 {}

.TextMid {

    text-align: center;
    font-size: 20px;

}
